* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Trebuchet MS", sans-serif;
    background: #f8f9fa;
    color: #333;
  }

  .AI-support-page {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    position: relative;
    overflow-x: hidden;
    text-align: center;
    background: linear-gradient(135deg, #81ecec, #74b9ff);
  }

  .sidebar {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .support-title {
    top: 5px;
    position: relative;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px rgb(114, 114, 114);
    z-index: 1;
  }

  .chat-history {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 100%;
    height: 75%;
    border-radius: 0px 10px 0px;
    border: 10px;
    background: #ffffff;
  }

  .chat-form-container {
    position: absolute;
    left: 250px;
    top: 76.5%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .chat-form {
    background: #ffffffaa;
    backdrop-filter: blur(4px);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 10px;
  }

  .chat-form input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    width: 900px;
    background: #ffffff;
  }