.signup-page {
    background: #f8f9fa;
    min-height: 100vh; 
    padding-top: 1rem; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: flex-start;
  }
  
  .signup-container {
    max-width: 400px;
    width: 90%; 
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .signup-container h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #2d3436;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  

  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #2d3436;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #dfe6e9;
    font-size: 1rem;
    outline: none;
  }
  
  .signup-btn {
    display: block;
    width: 100%;
    background: #74b9ff; 
    color: #fff;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    margin-top: 1rem;
  }
  
  .signup-btn:hover {
    background: #2d96ff; 
    transform: scale(1.02);
  }

  .requirements {
    display: block;
    margin-top: 0rem;
    margin-bottom: 1.0rem;
    color: #2d3436;
  }
  